#menucontainer
{
    margin:auto;
    width:720px;
    height:55px;
    background-color:#fff;
    border:1px solid #ccc;
    box-shadow:0 -36px 19px -8px #E9E9E9 inset;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top:0px;

    position:relative;
    top:60px;    
}

#menucontainer ul
{
    margin:0px;
    padding:0px;
    list-style:none outside none;
    height:55px;
}

#menucontainer ul li
{
    display: block;
    float: left;
    font-size: 0.73em;
    color:#777;
    font-family:Arial;
    text-align: center;
    width: 120px;
    padding-top:18px;
    height:37px;
}
#menucontainer ul li:hover
{
    background-color:#ddd;
    cursor:pointer;
}
#menucontainer ul li:first-child:hover
{
    /*background-color:#ccc;
    cursor:pointer;*/
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#menucontainer ul li:last-child:hover
{
    /*background-color:#ccc;
    cursor:pointer;*/
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}